@use "sass:string";
@use "../variables/tokens.scss" as t;

@function _k($key) {
  @return string.replace("#{$key}", ".", "-");
}

$space-keys: (
  0: "0",
  0.5: "0-5",
  1: "1",
  2: "2",
  3: "3",
  4: "4",
  5: "5",
  6: "6",
  8: "8",
  10: "10",
  12: "12",
  16: "16",
  20: "20",
  24: "24",
  32: "32",
  40: "40",
  48: "48",
  64: "64",
);

.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
} /* default */
.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  justify-content: flex-start;
}
.align-between {
  align-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}
.items-baseline {
  align-items: baseline;
}

.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}
.self-stretch {
  align-self: stretch;
}
.self-baseline {
  align-self: baseline;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-none {
  flex: 0 0 auto;
}

.grow {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}

.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}

.grid-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(var(--min-col, 240px), 1fr));
}

.place-items-start {
  place-items: start;
}
.place-items-center {
  place-items: center;
}
.place-items-end {
  place-items: end;
}
.place-items-stretch {
  place-items: stretch;
}

.flow-row {
  grid-auto-flow: row;
}
.flow-col {
  grid-auto-flow: column;
}
.flow-dense {
  grid-auto-flow: dense;
}
.flow-row-dense {
  grid-auto-flow: row dense;
}
.flow-col-dense {
  grid-auto-flow: column dense;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-5 {
  grid-column: span 5 / span 5;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-full {
  grid-column: 1 / -1;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}

@each $k, $suffix in $space-keys {
  .gap-#{$suffix} {
    gap: t.s($k);
  }
  .gapx-#{$suffix} {
    column-gap: t.s($k);
  }
  .gapy-#{$suffix} {
    row-gap: t.s($k);
  }

  .top-#{$suffix} {
    top: t.s($k);
  }
  .bottom-#{$suffix} {
    bottom: t.s($k);
  }
  .left-#{$suffix} {
    left: t.s($k);
  }
  .right-#{$suffix} {
    right: t.s($k);
  }

  .mt-#{$suffix} {
    margin-top: t.s($k);
  }

  .w-#{$suffix} {
    width: t.s($k);
  }
  .p-#{$suffix} {
    padding: t.s($k);
  }
}

.w-full {
  width: t.$full;
}

@media (max-width: 1024px) {
  .grid-4,
  .grid-5 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  // .place-items-center {
  //   place-items: start;
  // }
}
@media (max-width: 800px) {
  .grid-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .col-1 {
    display: none !important;
  }

  .col-2 {
    padding: t.s(4) !important;
  }
  // .place-items-center {
  //   place-items: start;
  // }
}

@media (max-width: 690px) {
  .grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .tier2 {
    display: none !important;
  }

  .card_once {
    padding: t.s(8) t.s(2) !important;
  }
}
@media (max-width: 400px) {
  .grid-4,
  .grid-5 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
