$cyan-color: #39cdcc;

$white-color: #ffffff;
$white-color-200: #fbfbfb;

$gray-blue-primary: #213f7d;
$gray-blue-600: #5718ff;
$gray-blue-500: #545f7d26;
$gray-blue-400: #545f7d; // bg gets 6% opacity

$red-600: #e4033b; // bg will get 10% opacity
$pink-500: #ff3366; // bg will get 10% opacity

$orange-500: #f55f44; // bg will get 10% opacity
$purple-500: #df18ff; // bg will get 10% opacity
$yellow-500: #e9b200; // bg will get 10% opacity
$green-500: #39cd62; // bg will get 6% opacity

// SHADOW

$shadow-color: #0000000a;
